<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome to Inteliview</h1>
    <p>Thank you for registering on our website.</p>
    <p>You can search for jobs now from <a href="<%= link %>">here</a></p>
    <p>Regards,</p>
    <p>Inteliview Team</p>
  </body>
</html>
